/* CSS in JS is currently not supported in server side components
so let's stick to vanilla CSS for now
---
we could use css libraries like tailwind or bootstrap and replace this accordingly
*/

.canvas {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding: 150px;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  border: 2px solid red;
  padding: 50px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.roundedImage {
  border-radius: 50%;
}
