/* CSS in JS is currently not supported in server side components
so let's stick to vanilla CSS for now
---
we could use css libraries like tailwind or bootstrap and replace this accordingly
*/

.canvas {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding: 150px;
}

.listWrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
}

.roundedImage {
  border-radius: 50%;
}
